.swiperWrapper {
  position: relative;
}

.swiper {
  position: relative;
  padding-top: var(--padding-4);
  margin-bottom: var(--margin-1);
}

.swiper__item {
  cursor: pointer;
}

.swiper__ButtonWrapper {
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  display: flex;
  align-items: center;
  column-gap: var(--gap-1);
}

.imgContainer {
  width: var(--width-5);
  height: var(--height-3);
  position: relative;
  margin-bottom: var(--margin-3);
}

.imgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.userName {
  font-family: var(--font-medium);
  font-size: var(--font-size-3);
  line-height: var(--line-height-3);
  color: var(--basic-black);
}

.userCompany {
  font-size: var(--font-size-1);
  line-height: var(--line-height-2);
  color: var(--basic-grey);
}

.swiper__item:hover .imgContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--height-4);
  background-color: var(--basic-orange);
}

.swiper__item:hover .userName {
  color: var(--basic-orange);
}

.swiper__item:hover .userCompany {
  color: var(--basic-orange);
}
